/*!*********************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/style.scss ***!
  \*********************************************************************************************************/
@font-face {
  font-family: modernSans;
  src: url(49a2c9e732a9c4b8fc82.ttf) format("woff2");
}
@font-face {
  font-family: moon;
  src: url(78446ac31dfd9bec4c55.otf) format("woff2");
}
@font-face {
  font-family: moon-light;
  src: url(2384dfca5a7601002d0f.otf) format("woff2");
}
@font-face {
  font-family: moon-bold;
  src: url(68ec80129af65941142c.otf) format("woff2");
}
.aca-panel {
  position: relative;
  max-height: calc(100vh - 280px);
  overflow-y: hidden;
}
.aca-panel .sec-header {
  position: absolute;
  width: calc(100% - 1em);
}
.aca-panel > ul {
  overflow-y: scroll;
  overflow-anchor: none;
  display: flex;
  flex-wrap: wrap;
  height: calc(100% - 42px);
  padding: 0;
  margin-inline: 0;
  margin-bottom: 2em;
  box-sizing: border-box;
  margin-top: 2.5em;
}
.aca-panel > ul > li {
  overflow: hidden;
  list-style: none;
  border-radius: 0.5em;
  padding: 0.5rem;
  margin: 0.5rem;
  max-width: calc(33.3333333333% - 1rem);
  width: 100%;
  min-height: 150px;
  color: white;
  box-sizing: border-box;
  background-color: #181b23;
}

.cf-panel h2 {
  background-image: linear-gradient(3deg, #cf205f, #4f22a7);
}

.text-secondary {
  color: #6c7193;
}

.row {
  display: flex;
}

.col-50 {
  flex: 50%;
}

.col-75 {
  flex: 75%;
}

.col-25 {
  flex: 25%;
}

@keyframes pulseAnim {
    0%    {color:white;}
    50%    {color:red;}
    100%    {color:white;}
}

@keyframes pulseBorderAnim {
    0%    {border: 2px solid black}
    50%    {border: 2px solid red;}
    100%    {border: 2px solid black;}
}

body {
  margin: 0;
  background-color: #000000;
  color: #ffffff;
  font-family: "moon";
}

main {
  min-height: calc(100vh - 80px);
  width: 100%;
  position: relative;
  background-color: #000000;
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: calc(100vh - 80px - 210px) auto;
  overflow: hidden;
}

header {
  max-height: 80px;
  max-width: 100vw;
}
header nav.main-nav {
  padding: 5px;
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-between;
}
header nav.main-nav > div {
  position: relative;
}
header nav.main-nav #header-logo {
  font-size: 1.5em;
  line-height: 0.8em;
  letter-spacing: 0.2em;
  height: 70px;
  display: flex;
  align-items: center;
}
header nav.main-nav #version {
  min-width: 90px;
}
header nav.main-nav #version > span {
  position: absolute;
  top: calc(75px - 0.8em);
}
header nav.main-nav #actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 4em;
  font-family: "moon-bold";
  line-height: normal;
}

#stu-info {
  font-size: 0.75em;
  letter-spacing: 0.11em;
  margin: 0;
  padding: 0;
  text-align: left;
  margin-left: auto;
}
#stu-info > li {
  list-style: none;
  padding-right: 0.5em;
  display: flex;
  flex-direction: column;
  line-height: 2em;
}
#stu-info > li > p {
  margin: 0;
}

.bg-dark {
  background-color: #181b23;
}

.no-link-decor {
  text-decoration: none;
}
.no-link-decor a,
.no-link-decor a:hover,
.no-link-decor a:active,
.no-link-decor a:visited {
  text-decoration: none;
}

.shadow-fade {
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.3s ease-in-out;
}

.shadow-fade:hover {
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.6);
}

.shadow {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

#TL,
#BL {
  background-color: #181b23;
}

main > div {
  position: relative;
}
main > div .sec-header.to-col {
  display: grid;
  grid-template-columns: 20% 40% auto;
  justify-content: space-between;
  align-items: center;
}
main > div .sec-header {
  margin: 0.25em;
  padding: 0.25em;
  border-radius: 0.25em;
  font-size: 1.25em;
  color: white;
  background-image: linear-gradient(45deg, #1aab85, #22a72b);
  letter-spacing: 0.1em;
}
main > div .sec-header > h1 {
  font-weight: normal;
  margin: 0;
  font-size: 1em;
  padding: 0;
}
main > div .sec-header form.input {
  border: 0;
  border-radius: 0.5em;
  height: 2em;
  background-color: #181b23;
  color: white;
}

.advisorform > p > input {
	border-radius: 25px;
}

.advisorform > p > select {
	border-radius: 25px;
}

#accordion {
	padding: 0px 5px;
}

#accordion ul {
	padding: 5px 5px;
	background-color: black;
}

#accordion h2 {
	color: white;
	/*background: #181b23;*/
	font-size: 80%;
}

#accordion li {
	padding: 2px;
	color: white;
	font-family: system-ui;
	font-size: 14px;
}

#accordion li:hover {
	cursor: pointer;
	background-color: #9a9a9a50;
}

#accordion .planned label::before {
	content: "\2705";
	font-size: 0.7em;
	margin-right: 5px;
}

#accordion .unplanned label::before {
	content: "\1F7E5";
	font-size: 0.7em;
	margin-right: 5px;
}

#accordion .unplanned {
	/*color: #9a9a9ab3;*/
}

#bar {
  display: none;
}

#kbb {
	margin: 10px 0px;
}

#kbb div {
	margin-left: 5px;
	margin-bottom: 5px;
}

#kbb label {
	margin-right: 20px;
	width: 20px;
	display: inline-block;
	text-align: right;
}

@media screen and (max-width: 1025px) {
  #stu-info {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .aca-panel > ul > li {
    max-width: calc(50% - 1rem);
    width: 100%;
    min-height: 150px;
    min-width: 300px;
  }
  #version {
    display: none;
  }
}
.btt-primary:hover {
  background-color: #1e8d45;
}

.btt-primary {
  padding: 0.5em;
  margin: 0.5em;
  background-color: #1d9c49;
  border: none;
  border-radius: 0.25rem;
  font-family: moon-bold;
  letter-spacing: 0.1em;
  font-size: 0.8em;
  color: #ffffff;
}

button.disabled {
  background-color: #323232 !important;
  color: #101010 !important;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #181b23;
  min-width: 160px;
  padding: 12px 16px;
  z-index: 1;
  left: 0;
  top: 28px;
}
.dropdown-content p:hover {
  color: gray;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.advisorform label {
    width: 50px;
    display: inline-block;
    text-align: left;
    margin-right: 8px;
    margin-left: 8px;
}

.advisorform p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.advisorform input[type=submit] {
    width: 200px;
    background-color: #09f;
    color: white;
    padding: 5px;
    margin: 10px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.advisorform input[type=text] {
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

.advisorform input[type=submit]:hover {
    background-color: #07d;
}

.formValid + label::before {
    content: "\2714";
    color: green;
}

.formInvalid + label::before {
    content: "\2718";
    color: red;
}

.pulse {
    color: red;
    animation-name: pulseAnim;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

.pulseBorder {
    animation-name: pulseBorderAnim;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

#bar {
  display: block !important;
  border: 2px solid #3c4458;
  z-index: 2;
  width: 100%;
  position: absolute;
  top: -2px;
  border-radius: 2px;
}

#bar:hover {
  border: 2px solid darkblue;
  cursor: row-resize;
}

#BL > p {
  background-color: #ffab00;
  letter-spacing: 0.1em;
  color: black;
  font-size: 0.8em;
  border-radius: 4px;
  padding: 2px;
  margin: 5px;
  margin-inline: 7px;
}

#title {
   margin-left: 1px;
}

.course-list > li:hover {
  cursor: pointer;
  color: darkgray;
}

.unscheduled {
  background-image: linear-gradient(45deg, #6a337a, rgba(255, 0, 0, 0.431372549)) !important;
}

.unscheduled > p, .scheduled > p {
  letter-spacing: 0.1em;
}
.unscheduled .sem, .scheduled .sem {
  margin: -5px;
  float: left;
  font-weight: bold;
  color: darkgrey;
}
.unscheduled .hours, .scheduled .hours {
  margin: 0px;
  float: right;
}

ul.course-list {
  display: inline;
  margin-top: 20px;
  font-family: system-ui;
}
ul.course-list > li {
  margin-top: 0px;
  width: 100%;
}

#TR > ul::-webkit-scrollbar-thumb {
  background: #4e4e4e;
  border-radius: 25px;
}

#TR > ul::-webkit-scrollbar-track {
  background-color: black;
}

#TR > ul::-webkit-scrollbar {
  width: 10px;
}

.badge-link {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-content: space-evenly;
  align-items: center;
}
.badge-link > a {
  background-color: #6d2e69;
  text-align: center;
  margin: 5px;
  padding: 3px;
  width: 90%;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  border-radius: 10px;
  font-family: "moon";
}
.badge-link a:link, .badge-link a:hover, .badge-link a:active, .badge-link a:visited {
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
}

.group > ul {
	background-image: linear-gradient(180deg, #6a337a, rgba(255, 0, 0, 0.431372549));
}

.group > h2 {
        font-weight: bold;
        background: linear-gradient(45deg, #682f78, #4d7c7c);
}

#accordion ul::-webkit-scrollbar {
	width: 15px;
}

#accordion ul::-webkit-scrollbar-thumb{
	background: darkslategrey;
	border-radius: 25px;
}

#toggleswitch {
	display: inline;
}
#toggleswitch > h1 {
	font-size: small;
	display: inline;
}
#toggleswitch > input {
	display: inline;
}

#coursefinder {
	width: 100%;
}

#coursefinder th {
	text-align: left;
}

#catalog {
	height: 164px;
	overflow-y: scroll;
}

#catalog::-webkit-scrollbar {
	width: 57px;
}

#catalog::-webkit-scrollbar-thumb {
	background: url('../../../apple-touch-icon-57x57.png');
	border-radius: 25px;
}

#catalog::-webkit-scrollbar-track {
	background-color: #4c0c0c63;
}

#coursefinder thead {
	background: darkslategray;
}

#coursefinder tbody tr:nth-child(odd) {
	background: #443636db;
}

#coursefinder tr:nth-child(odd) td:nth-child(even) {
	background: #8080809c;
}

#coursefinder tr:nth-child(even) td:nth-child(even) {
	background: #342727;
}

#kbb > div > select {
	border-radius: 25px;
	font-family: 'moon-bold';
	background-color: beige;
	font-size: 16px;
}

#kbb > div > select::-webkit-scrollbar {
	width: 12px;
}

#kbb > div > select::-webkit-scrollbar-thumb {
	background: blue;
	border-radius: 25px;
}

#kbb > div > select::-webkit-scrollbar-track {
	background: #fffffff0;
}

.modal {
	z-index: 999;
	position: absolute;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
	height: 100%;
	width: 100%;
	background-color: #ffffff88;
}

.modalBody {
	display: inline-block;
	height: fit-content;
	margin-right: 15%;
	margin-left: 15%;
	overflow-x: auto;
	background: linear-gradient(90deg, black, #958383);
	vertical-align:middle;
	text-align:left;
	border: 5px solid black;
	border-radius: 25px;
}

.modalBody form {
	margin-left:50px;
	margin-right:50px;
	display:inline-block;
	min-width: 300px;
}

.modalInput {
	float:right;
	border-radius: 10px;
	background: lightgray;
	margin-left: 10px;
	font-family: monospace !important;
	font-size: large !important;
}


.modalBody form label {
	display:block;
	font-family: monospace !important;
	font-size: large !important;
}

.modalHidden {
	display:none;
}

.modalShown {
	display:flex;
}

.modalButtons {
	display:flex;
	justify-content:center;
}

#plans td {
	border: 1px solid lightgray;
	padding: 4px;
}

#plans th {
	text-align: center;
}

#plans .planitem:hover {
	background-color: #ffffff87;
	cursor: pointer;
}

#plans {
	font-family: monospace;
	font-size: large;
}

.modalButton {
	margin-right: 10px;
	margin-left: 10px;
	background-color: blue;
	color:white;
	border:2px solid white;
	border-radius:10px;
	font-family: monospace !important;
	font-size: large !important;
}

.modalButton:hover {
	cursor: pointer;
}

#mphead {
	display: grid;
	grid-template-columns: auto auto auto auto auto;
}
